name: Deploy to k3s

on:
  workflow_run:
    workflows: ["Build and Push Image"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Deploy applications
        run: |
          kubectl rollout restart deployment ostara-web-kiosk -n ostara
